@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */

.navbar{
  font-family: 'Playfair Display' ;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  border-bottom: solid gray !important;
}
.nav-link{
  font-weight: 300;
}

.active{
  border-bottom: 2px solid black;
}

/* Register Page CSS */

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  background-color: #1b43b2;
  background-image: linear-gradient(0deg, #e7e750 0%, #e65858 100%);
  padding-bottom: 16px;
}

.form-container form{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #fff;
}

.form-container form .title{
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.form-container form input{
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.form-container form button{
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: white;
  width: 250px;
}

.form-container form button:hover{
  border: 1px solid black;
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
}

.AuthTitle{
  color: black;
}

.complaintRow:hover {
  transform: scale(1.05); /* Increase size on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  cursor: pointer;
}

.custom-success-badge {
  background-color: #28a745; /* green color */
  color: #fff; /* White color */
  border-radius: 10px; /* Rounded corners */
  padding: 5px 10px; /* Padding */
  font-size: 14px; /* Font size */
}

.custom-pending-badge {
  background-color: #ffc107; /* yellow color */
  color: #fff; /* White color */
  border-radius: 10px; /* Rounded corners */
  padding: 5px 10px; /* Padding */
  font-size: 14px; /* Font size */
}